name: Publish new releases on version tag

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  PACKAGES_USER: ${{ github.actor }}
  PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Run tests
        run: ./gradlew --continue --no-configuration-cache --stacktrace test

      - name: Publish to GitHub Packages
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew publishAllPublicationsToGitHubPackagesRepository
